<div class="search">

<form class="navbar-form navbar-right" role="search" method="get" action="\search" >
    <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Search for a movie..">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>